<p style="color: green"><%= notice %></p>

<h1>Trips</h1>

<div id="trips">
  <% @trips.each do |trip| %>
      <%= link_to "#{trip.name}", trip %>
    </p>
  <% end %>
</div>

<%= link_to "New trip", new_trip_path ,class:"btn btn-info"%>
