<%= form_for Destination.new(), :url => trip_destination_index_path , method: :post do | form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
