 <h1>Welcome to Road Tripper</h1>
    <p>
      your trip has been created no you can destinations to the trip 
      your email is: <%=@user.email%><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing us and have a great journey!</p>