 <h1>Welcome to Odin-flight-booker</h1>
    <p>
      your ticket has been confirmed
      your email is: <%=@user.email%><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing us and have a great journey!</p>